.root {
    @apply relative max-h-full flex items-center justify-center;
    max-height: 100% !important;

    &:hover {
        & .productBackground:before {
            transform: scale(0.98);
        }

    & .productImage {
        transform: scale(1.15);
    }
    }

    &:nth-child(6n + 1) .productBackground {
        @apply bg-violet;
    }

    &:nth-child(6n + 2) .productBackground {
        @apply bg-red;
    }

    &:nth-child(6n + 3) .productBackground {
        @apply bg-pink;
    }

    &:nth-child(6n + 5) .productBackground {
        @apply bg-cyan;
    }

    &:nth-child(6n + 6) .productBackground {
        @apply bg-blue;
    }
}

.productImage {
    @apply transition-transform duration-500;
}

.productTag {
    @apply absolute top-0 left-0 z-20;

    & > * {
        font-size: 2rem;
        letter-spacing: 0.4px;
    }
}

.productTitle {
    @apply font-bold;
    line-height: 2.2rem;

    & span {
        @apply py-4 px-6 bg-primary;
        box-decoration-break: clone;
    }
}

.productPrice {
    @apply pb-4 pt-2 px-6 text-primary bg-primary;

    & span {
        @apply py-4 px-6 bg-primary;
        box-decoration-break: clone;
    }
}

.productBackground {
    @apply absolute inset-0 z-0;

    &:before {
        @apply block w-full h-full transition-transform duration-500;
        content: "";
        background-image: url("/product-pattern-bg.svg")
    }
  }
  
  .productImageContainer {
    @apply z-10 relative;
    width: 540px;
    height: 540px;
  }

  .productImageContainerSlim {
    @apply z-10 relative;
    width: 320px;
    height: 320px;
  }